<launch>
    <include file="$(find mushr_pf)/launch/ParticleFilter.launch">
        <arg name="publish_tf" value="false" />
	<arg name="filter_mode" value="camera" />
    </include>

    <!-- Launch  map server-->
    <include file="$(find mushr_sim)/launch/map_server.launch">
    	<arg name="map" value="$(find mushr_sim)/maps/real-floor0.yaml" />
    </include>
    
      <!--Camera Odom Transform Broadcaster-->
     <include file="$(find mushr_pf)/launch/cam_tf.launch"/>

<!--    <node pkg="tf" type="static_transform_publisher" name="cam_odom_broadcaster" args="0 0 1 0 1.5 0 map camera_odom_frame 20"/>-->

</launch>
